<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscriber Tinder</title>

    <link href="../../public/css/styles.css" rel="stylesheet">
</head>
<body>
    <p class="bg-purple-700">asdasfd</p>
    {{{ body }}}
</body>
</html>