<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscriber Tinder</title>
</head>
<body>
    <h1>Welcome to subscriber tinder, thanks for joining!</h1>
    <a href="/api/auth/google"><button>Sign in</button></a>
</body>
</html>